.codeBlockContainer{
    margin:20px 0;
    border:1px solid var(--border);
    border-radius:14px;
    overflow:hidden;
    background:var(--card);
}

.codeBlockHeader{
    height:44px;

    display:flex;
    align-items:center;
    justify-content:space-between;

    padding:0 14px;

    background:var(--hover);

    border-bottom:1px solid var(--border);
}

.codeLanguage{
    font-size:13px;
    text-transform:capitalize;
    color:var(--text-secondary);
    font-weight:600;
}

.copyCodeBtn{
    display:flex;
    align-items:center;
    gap:6px;

    border:none;
    background:none;

    color:var(--text-secondary);

    cursor:pointer;

    font-size:13px;

    transition:.2s;
}

.copyCodeBtn:hover{
    color:var(--text);
}

.codeBlockContainer pre{
    margin:0 !important;
    border:none !important;
}

.codeBlockContainer code{
    font-size:14px;
    font-family:
        "JetBrains Mono",
        "Fira Code",
        Consolas,
        monospace;
}