* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, Roboto, sans-serif;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #212121;
}

.app {
    width: 100%;
    height: 100vh;

    display: flex;

    overflow: hidden;

    background: #212121;
}